@import 'src/static/comm.scss';

.maincard {
  width: 230px;
  background-color: white;
  padding:10px;
  margin:10px 5px 0 5px;
  img {
    width: 100%;
    display: block;

  }

  .main {
    padding: 10px;
    display: flex;
    flex-direction: column;

    .desc {
      color: #333;
      font-size: 14px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      height:44px;
    }

    .price {
      color: rgb(113, 73, 192);
      font-size: 20px;
      font-weight: bold;
      margin-top: 5px;
    }
    .old-price{
      font-size:14px;
      height:22px;
      color:#333;
      text-decoration: line-through;
    }
    .code,.brand{
      font-size:12px;
      margin-bottom:5px;
    }
  }
}